body {
  font-family: "Montserrat", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-calendar-picker-indicator {
  /* Customize the appearance of the calendar icon */
  background-image: url("./assets/images/calendar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  /* Add any additional styling you want */
}

.scrollbar-none::-webkit-scrollbar {
  width: 0;
}

.ql-snow .ql-tooltip {
  left: 0 !important;
}

.ql-snow .ql-tooltip input {
  background-color: transparent !important;
  outline: none;
  height: 40px !important;
  width: 340px !important;
}

.ql-snow .ql-tooltip[data-mode="link"]::before {
  content: "Enter link:";
  color: #000 !important;
}

.ql-snow .ql-tooltip .ql-action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-left: 10px;
  padding: 0 24px;
  background-color: #5267dd;
  color: #fff;
}

.ql-editor {
  height: 320px !important;
  overflow-y: auto !important;
}

::-webkit-scrollbar {
  width: 0 !important;
}
